@use 'vars' as *;

header {
    background-color: #080808;
    position: sticky;
    top: 0;
    z-index: 1;
    box-shadow: 0px 1px 4px rgba($black, 0.3);
}

.logo_laravel img {
    transition: filter 0s linear, box-shadow 0.2s linear;
    backface-visibility: hidden;
    filter: invert(100%);
    transition: filter 0.1s ease-in-out;
    &:hover {
        filter: invert(99%) sepia(100%) hue-rotate(305deg) saturate(27500%) brightness(75%);
    }
}

.navbar-nav .nav-item > a {
    color: $color-bone;
    font-weight: 500;
    padding: 30px 0;
    border-bottom: 5px solid transparent;
    transition: border-bottom 0.120s ease;
    &:hover {
        border-bottom: 5px solid $color-primary;
    }
}

.dropdown-menu {
    transform: translateX(-45px);
    a {
    color: $white;
    padding: 10px 0;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.1s ease, color 0.1 ease;
    &:hover {
        color: $color-primary;
        border-bottom: 2px solid $color-primary;
        background-color: transparent;
    }
    }

}
